<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="css/left.css">
    <link rel="stylesheet" href="css/editor.css">
    <link rel="stylesheet" href="css/marked.css">
    <%- include('partials/base'); -%>
</head>
    <body>
        <div id="left">
            <div id="logoContainer">
                <img src="images/logo.svg" id="logoImage">
            </div>
            <div>
                <a class="leftButton" id="homeButtonLeft" href="/home">
                    <img src="images/icons/home-blurred.svg" class="homeIcon">
                    <p class="leftButtonText">
                        Home
                    </p>
                </a>
                <a class="leftButton selectedButton" id="postButtonLeft" href="/create-post">
                    <img src="images/icons/plusLeft.svg">
                    <p class="leftButtonText">
                        Post
                    </p>
                </a>
                <a class="leftButton" id="messagesButtonLeft" href="/messages">
                    <img src="images/icons/messages-blurred.svg">
                    <p class="leftButtonText">
                        Messages
                    </p>
                </a>
                <a class="leftButton" id="profileButtonLeft" href="/view-profile">
                    <img id="profileImage" src="<%= profilePicture == "default" ? "/images/icons/defaultProfile-blurred.svg" : profilePicture %>">
                    <p class="leftButtonText">
                        Profile
                    </p>
                </a>
                <a class="leftButton" id="settingsButtonLeft" href="/settings">
                    <img src="/images/icons/settings-blurred.svg">
                    <p class="leftButtonText">
                        Settings
                    </p>
                </a>
                <button class="leftButton" id="logOutButtonLeft">
                    <img src="/images/icons/logOut.svg">
                    <p class="leftButtonText">
                        Log Out
                    </p>
                </button>
            </div>
            <div id="profileWidgetContainer">
                <div id="profileWidget">
                    <div id="profileWidgetTop">
                        <img src="<%= profilePicture == "default" ? "/images/icons/defaultProfile.svg" : profilePicture %>" id="profileWidgetImage">
                        <div id="profileWidgetUsernameContainer">
                            <p id="profileWidgetUsername">
                                <%= username %>
                            </p>
                        </div>
                    </div>
                    <div id="profileWidgetBottom">
                        <p id="profileWidgetLevelLabel">
                            Level <span class="indicator"><%= level %></span>
                            <span class="separator">•</span>
                        </p>
                        <image src="images/icons/notification-blurred.svg" id="profileWidgetNotificationIcon"></image>
                        <p id="profileWidgetNotificationsLabel">
                            0
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="editorInnerContainer">
            <div id="editorContainer">
                <div id="editor">
                    <input id="editorTitle" placeholder="Short title">
                    <div id="editorContent" contenteditable="true" tabindex="-1">Type your markup here.</div>
                    <div id="editorToolbar">
                        <div class="toolbarDefault">
                            <smart-dropdown id="fontPickerEditor" width="200px" special="font" options="Euclid, Helvetica, Red Hat, Times, Consolas, Georgia, Tahoma, Verdana, Trebuchet MS"></smart-dropdown>
                            <button id="caseSwitchButtonEditor" class="caseSwitchButtonEditor">
                                <img src="images/icons/smartypantsCase.svg" id="caseSwitchButtonEditorImage">
                            </button>
                            <button id="headingButtonEditor1" class="headingButtonEditor">
                                <img src="images/icons/headings/heading1.svg">
                            </button>
                            <button id="headingButtonEditor2" class="headingButtonEditor" ">
                                <img src="images/icons/headings/heading2.svg">
                            </button>
                            <button id="headingButtonEditor3" class="headingButtonEditor" ">
                                <img src="images/icons/headings/heading3.svg">
                            </button>
                            <button id="headingButtonEditor4" class="headingButtonEditor" ">
                                <img src="images/icons/headings/heading4.svg">
                            </button>
                            <button id="headingButtonEditor5" class="headingButtonEditor" ">
                                <img src="images/icons/headings/heading5.svg">
                            </button>
                            <button id="headingButtonEditor6" class="headingButtonEditor">
                                <img src="images/icons/headings/heading6.svg">
                            </button>
                            <label for="imageButtonEditor" type="file" id="customImageButtonEditor">
                                <img src="images/icons/image.svg">
                            </label>
                            <input id="imageButtonEditor" type="file" accept="image/png, image/jpeg, image/jpg, image/webp">
                            <button id="orderedListButtonEditor" class="listButtonEditor" id="listButtonOrdered">
                                <img src="images/icons/orderedList.svg">
                            </button>
                            <button id="unorderedListButtonEditor" class="listButtonEditor" id="listButtonUnordered">
                                <img src="images/icons/unorderedList.svg">
                            </button>
                        </div>
                        <div id="imageUploadingEditor">
                            <div id="uploadedImagesInnerContainerEditor">
                                <div id="uploadedImagesContainerEditor">
                                    
                                </div>
                            </div>
                            <p class="editorLabel">Uploaded Images</p>
                        </div>
                    </div>
                    <div id="markupResult"></div>
                </div>
                <button id="confirmPost">
                    <img src="images/icons/plusPost.svg">
                    <p>
                        Post
                    </p>
                </button>
            </div>
        </div>
    </body>
    <%- include("partials/loggedIn") %>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="scripts/util/util.js"></script>
    <script src="scripts/util/smartDropdown/smartDropdown.js"></script>
    <script src="scripts/util/uploadedImageEditor/uploadedImageEditor.js"></script>
    <script src="scripts/util/http.js"></script>
    <script src="scripts/editor.js"></script>
    <script src="scripts/left.js"></script>
</html>