<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whintel</title>
        <%- include('partials/base'); -%>
        <link rel="stylesheet" href="css/left.css">
        <link rel="stylesheet" href="css/post-middle.css">
        <link rel="stylesheet" href="css/marked.css">
    </head>
    <body>
        <%- include("partials/left", {activeCategory: "home"}) %>
        <div id="middle-post">
            <div id="postContainer">
                <div id="postTitle">
                    <%= postData.title %>
                </div>
                <div id="postAuthor">
                    <img src="/images/icons/defaultProfile.svg">
                    <div class="main">
                        <%= authorData.username %>
                    </div>
                </div>
                <hr class="equalHr">
                <div id="postContent">
                    <%= postData.content %>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="scripts/util/util.js"></script>
    <script src="scripts/util/http.js"></script>
    <script src="scripts/viewPost.js"></script>
    <script>
        function stringToBoolean(string) {
            return string == "true"
        }
        var postFont = "<%= postData.options.font %>";
        var postIsSmartypants = stringToBoolean("<%= postData.options.smartypants %>");
        var content = `<%= postData.content %>`;
        var uploadedImagesIds = `<%= postImages %>`.replaceAll('&#34;', "").replace("[", "").replace("]", "").split(",");
        var uploadedImages = [];
        (async () => {
            if(uploadedImagesIds[0] != "") {
                for (var i = 0; i < uploadedImagesIds.length; i++) {
                    var image = await ajax("GET", "/api/assets/images/" + uploadedImagesIds[i]);
                    uploadedImages.push({
                        id: "image-" + (i + 1),
                        dataUrl: image
                    });
                }
            }
            initMarked()
        })()
    </script>
</html>