<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whintel</title>
        <%- include('partials/base'); -%>
        <link rel="stylesheet" href="css/left.css">
        <link rel="stylesheet" href="css/post-middle.css">
        <link rel="stylesheet" href="css/marked.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js" integrity="sha512-PEsccDx9jqX6Dh4wZDCnWMaIO3gAaU0j46W//sSqQhUQxky6/eHZyeB3NrXD2xsyugAKd4KPiDANkcuoEa2JuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <%- include("partials/left", {activeCategory: "home"}) %>
        <div id="middle-post">
            <div id="postContainer">
                <div id="postTitle">
                    <%= postData.title %>
                </div>
                <div id="postAuthor">
                    <img src="<%- authorProfilePicture == "default" ? "/images/icons/defaultProfile.svg" : authorProfilePicture %>">
                    <div class="main">
                        <%= authorData.username %>
                    </div>
                </div>
                <hr class="equalHr">
                <div id="postContent">
                    <%= postData.content %>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="scripts/util/util.js"></script>
    <script src="scripts/util/http.js"></script>
    <script src="scripts/viewPost.js"></script>
    <%- include('partials/followersFollowing') %>
    <%- include('partials/profileCard') %>
    <script>
        function stringToBoolean(string) {
            return string == "true"
        }
        var postFont = "<%= postData.options.font %>";
        var postIsSmartypants = stringToBoolean("<%= postData.options.smartypants %>");
        var content = `<%= postData.content %>`;
        var images = <%- JSON.stringify(postImages) %>
        var authorData = <%- JSON.stringify(authorData) %>
        var authorProfilePicture = "<%- authorProfilePicture %>"
        cacheReadyProfilePicture(authorData.profilePicture, authorProfilePicture)
        initMarked()
    </script>
</html>