<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whintel</title>
        <%- include('partials/base'); -%>
        <link rel="stylesheet" href="css/left.css">
        <link rel="stylesheet" href="css/view-profile.css">
        <link rel="stylesheet" href="css/followers-following.css">
    </head>
    <body>
        <%- include("partials/left", {activeCategory: isSelf ? "profile" : "home"}) %>


        <div id="profileMiddle">
            <div id="viewProfileContainer">
                <div id="profileBanner" bannerImage="<%= userData.bannerImage  %>">
                    <div id="profileBannerContent">
                        <div id="profileBannerLeft">
                            <img id="profileBannerProfilePicture" src="<%= userData.profilePicture == "default" ? "/images/icons/defaultProfile.svg" : profilePicture %>">
                            <div>
                                <div id="profileBannerUsername"><%= userData.username %></div>
                                <div id="profileBannerBio"><%= userData.bio %></div>    
                            </div>
                        </div>
                        <div id="followersFollowingContainerBanner">
                            <button id="followersLabel">
                                <span id="followersLabelNumber"><%= userData.followers.length %></span> followers
                            </button>
                            <button id="followingLabel">
                                <span id="followingLabelNumber"><%= userData.following.length %></span> following
                            </button>
                        </div>
                    </div>
                    <button id="profileBannerSettingsButton">
                        <img src="images/icons/settings.svg">
                    </button>
                </div>
                <div id="underBanner">
                    <div id="level">
                        Level:
                        <span id="levelNumber">
                            <%- userData.level %>
                        </span>
                    </div>
                    <span class="dividor">•</span>
                    <div id="from">
                        From: 
                        <span id="fromLocation">
                            <%- userData.location == "unknown" ? 
                                `<span class="grey">unknown</span>` :
                                userData.location
                            %>
                        </span>
                    </div>
                    <span class="dividor">•</span>
                    <div id="createdAt">
                        Created at:
                        <span id="createdAtDate">
                            <%- timeToHumanReadableString(userData.createdAt) %>
                        </span>
                    </div>
                </div>
            </div>
            <div id="followersFollowingContainer">
                <div id="followersFollowingTop">
                    <button id="followersFollowingTopBackButton">
                        <img src="images/icons/exitArrow.svg">
                    </button>
                    <div id="followersFollowingTopUsernameLabel">
                        @<%- userData.username %>
                    </div>
                    <div id="followersFollowingSwitch">
                        <p id="followersSwitch">Followers</p>
                        <p id="followingSwitch">Following</p>
                    </div>
                </div>
                <hr>
                <div id="followersFollowingContent">
                    <div id="followersContainer">
                        
                    </div>
                    <div id="followingContainer">

                    </div>
                </div>
            </div>
            <%- include('partials/settings'); -%>
        </div>
        <script>
            const userData = <%- JSON.stringify(userData) %>
        </script>
        <script src="scripts/util/util.js"></script>
        <script src="scripts/util/http.js"></script>
        <script src="scripts/viewProfile.js"></script>
        <script src="scripts/util/followersListElement/followersListElement.js"></script>
    </body>
</html>