<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Whintel</title>
        <%- include('partials/base'); -%>
        <link rel="stylesheet" href="css/left.css">
        <link rel="stylesheet" href="css/view-profile.css">
        <link rel="stylesheet" href="css/followers-following.css">
    </head>
    <body>
        <div id="left">
            <div id="logoContainer">
                <img src="images/logo.svg" id="logoImage">
            </div>
            <div>
                <a class="leftButton" id="homeButtonLeft" href="/home">
                    <img src="images/icons/home-blurred.svg" class="homeIcon">
                    <p class="leftButtonText">
                        Home
                    </p>
                </a>
                <a class="leftButton" id="postButtonLeft" href="/create-post">
                    <img src="images/icons/plusLeft-blurred.svg">
                    <p class="leftButtonText">
                        Post
                    </p>
                </a>
                <a class="leftButton" id="messagesButtonLeft" href="/messages">
                    <img src="images/icons/messages-blurred.svg">
                    <p class="leftButtonText">
                        Messages
                    </p>
                </a>
                <a class="leftButton selectedButton" id="profileButtonLeft" href="/view-profile">
                    <img id="profileImage" src="<%= profilePicture == "default" ? "/images/icons/defaultProfile.svg" : profilePicture %>">
                    <p class="leftButtonText">
                        Profile
                    </p>
                </a>
                <a class="leftButton" id="settingsButtonLeft" href="/settings">
                    <img src="/images/icons/settings-blurred.svg">
                    <p class="leftButtonText">
                        Settings
                    </p>
                </a>
                <button class="leftButton" id="logOutButtonLeft">
                    <img src="/images/icons/logOut.svg">
                    <p class="leftButtonText">
                        Log Out
                    </p>
                </button>
            </div>
            <div id="profileWidgetContainer">
                <div id="profileWidget">
                    <div id="profileWidgetTop">
                        <img src="<%= profilePicture == "default" ? "/images/icons/defaultProfile.svg" : profilePicture %>" id="profileWidgetImage">
                        <div id="profileWidgetUsernameContainer">
                            <p id="profileWidgetUsername">
                                <%= username %>
                            </p>
                        </div>
                    </div>
                    <div id="profileWidgetBottom">
                        <p id="profileWidgetLevelLabel">
                            Level <span class="indicator"><%= level %></span>
                            <span class="separator">•</span>
                        </p>
                        <image src="images/icons/notification-blurred.svg" id="profileWidgetNotificationIcon"></image>
                        <p id="profileWidgetNotificationsLabel">
                            0
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="editProfileMiddle">
            <div id="editProfileContainer">
                <div id="profileBanner" bannerImage="<%= userData.bannerImage  %>">
                    <div id="profileBannerContent">
                        <div id="profileBannerLeft">
                            <img id="profileBannerProfilePicture" src="<%= profilePicture == "default" ? "/images/icons/defaultProfile.svg" : profilePicture %>">
                            <div>
                                <div id="profileBannerUsername"><%= userData.username %></div>
                                <div id="profileBannerBio"><%= userData.bio %></div>    
                            </div>
                        </div>
                        <div id="followersFollowingContainerBanner">
                            <button id="followersLabel">
                                <span id="followersLabelNumber"><%= userData.followers.length %></span> followers
                            </button>
                            <button id="followingLabel">
                                <span id="followingLabelNumber"><%= userData.following.length %></span> following
                            </button>
                        </div>
                    </div>
                </div>
                <div id="underBanner">
                    <div id="level">
                        Level:
                        <span id="levelNumber">
                            <%- userData.level %>
                        </span>
                    </div>
                    <span class="dividor">•</span>
                    <div id="from">
                        From: 
                        <span id="fromLocation">
                            <%- userData.location == "unknown" ? 
                                `<span class="grey">unknown</span>` :
                                userData.location
                            %>
                        </span>
                    </div>
                    <span class="dividor">•</span>
                    <div id="createdAt">
                        Created at:
                        <span id="createdAtDate">
                            <%- timeToHumanReadableString(userData.createdAt) %>
                        </span>
                    </div>
                </div>
            </div>
            <div id="followersFollowingContainer">
                <div id="followersFollowingTop">
                    <button id="followersFollowingTopBackButton">
                        <img src="images/icons/exitArrow.svg">
                    </button>
                    <div id="followersFollowingTopUsernameLabel">
                        @<%- userData.username %>
                    </div>
                        
                </div>
                <tab-switch tabs="Followers,Following" id="followersFollowingTabSwitch"></tab-switch>
                <div id="followersFollowingContent">
                    <div id="followersContainer">

                    </div>
                    <div id="followingContainer">

                    </div>
                </div>
            </div>
        </div>
        <script>
            const userData = <%- JSON.stringify(userData) %>
        </script>
        <script src="scripts/util/util.js"></script>
        <script src="scripts/util/http.js"></script>
        <script src="scripts/left.js"></script>
        <script src="scripts/util/tabSwitch/tabSwitch.js"></script>
        <script src="scripts/viewProfile.js"></script>
        <script src="scripts/util/followersListElement/followersListElement.js"></script>
    </body>
</html>